<div class="product-container">
    <a routerLink="/products/{{product.id}}"><img class="product-image" src="{{product.url}}" alt="Product image"></a>
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>
    <form (ngSubmit)="addToCart()">
        <select  [(ngModel)]="selectedValue"  class="product-detail form-select" aria-label="Default select example" [ngModelOptions]="{ standalone: true }">
            <option 
                *ngFor="let value of values"
                [selected]="value === 1">
                {{ value }}
            </option>
        </select>
        <input type="submit" value="Add to Cart" class="product-detail btn btn-primary">
    </form>
  </div>