<div class="confirmation-container">
    <div class="confirmation-items ">
        <div class="confirmation-header confirmation-item">
            SUCCESS &#9989;
        </div>
        <div class="confirmation-item">Thanks, <b>{{ fullName }}</b></div>
        <div class="confirmation-item">Your <b>${{ totalPrices }}</b> order is confirmed!</div>
        <div class="confirmation-item">Your Order will be shipped within 5 working days!</div>
        <div class="confirmation-item">
                <a routerLink="/">
                    Return to our products
                </a>
            </div>
    </div>
</div>